* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  background-color: #c3c7c9;
}

.App {
  width: 100vw;
  text-align: center;
}

.newsCardContainer {
  width: 100%;
  margin: 0 auto;
  background-color: #c3c7c9;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  color: #000;
}
